*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, .banner, main, .module-list, footer, #professional-challenges, #course-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    width:auto;
    height:auto;
}
.banner{
    background-image: url(./assets/images/banner.png);
    width:1440px;
    height: 605px; 
    background-color: rgba(1, 1, 17, 0.950);
    border-bottom: 1px solid #33A8DB;
    text-align: center;
}
.banner-content{
    height: 605px;
    width: 1440px;
    background-image: linear-gradient(to bottom, #1d1c1c49,  #00000000,  #0000009a);
}
.logo{
    width: 255px;
    height: 255px;
    left: 131px;
    top: 27px;
    margin: 70px auto 15px;
    background: rgba(0, 0 , 0, 0.2);
    border-radius: 50%;
}
.logo img{
    position: relative;
    width: 248px;
    height: 214px;
    left: 2px;
    top: 15px;
}
.banner-content h1{
    width: 438px;
    height: 47px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin:auto;
    text-transform: uppercase;

}
.banner-content p{
    margin: 20px auto;
    width: 510px;
    height: 46px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    white-space: break-spaces;
}
.banner-content button{
    margin: 20px auto 0;
    width: 330px;
    height: 61px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    background: none;
    text-align: center;
    letter-spacing: 0.21em;
    color: #31A8DD;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #31A8DD, #5d5b9c);
}
.banner-content button:hover{
    cursor: pointer;
    color: #FFFF;
    background-color: #14527e73 ;
}
main{
    background-color: #000;
    border-bottom: 1px #33A8DB solid;
}
#course-content{
    margin-top: 10px;
    width: 792px;
    height: auto;
    padding: 90px 0;
}
#course-content h2{
    width: auto;
    height: 38px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.19em;
    color: #33A8DB;
}
#course-content p {
    width: 792px;
    height: 38px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin: 20px auto;
}
.module-list{
    padding: 0px;
    gap: 24px;
}

.module{
    box-sizing: border-box;
    padding: 16px 127px;
    gap: 10px;
    width: auto;
    height: 51px;
    background: #252525;
    border: 1px solid #33A8DB;
    box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
    border-radius: 57px;
    color: #FFFFFF;
    word-wrap:break-word;
    text-align: left;
    margin: 20px auto 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.module span{
    color: #33A8DB;
}
#transform-world{
    box-sizing: border-box;
    height: 350px;
    width: 1440px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #33A8DB;
    background-image: url(./assets/images/woman-code.png);
    background-size: cover;
    background-color: #000;
    background-attachment:fixed;

}
#transform-world p{
    width: auto;
    height: auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    text-shadow: 3px 2px 0px #33A8DB;
    margin: 100px 200px;
    text-transform: lowercase;
}
#professional-challenges{
    margin: 200px auto 70px;
    padding-bottom: 20px;
}
#professional-challenges h2{
    width: 800px;
    height: auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.19em;
    color: #33A8DB;
    text-transform: uppercase;
    margin-top: -100px;
}
#professional-challenges p{
    width: 792px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-top: 35px;
    color: #FFFFFF;
}
footer{
    width: 1440px;
    height: 170x;
    padding: 55px;
    background-color: black;
    background: linear-gradient(180deg, rgb(0,0,0) 10%, rgba(16, 19, 26, 0.9) 100%);
    padding-bottom: 39px;
}
footer p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
}
footer a{
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    color: #33A8DB;
    font-style: bold;
}

